{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="hero-container">

    <div class="hero-left">
        <img src="{% static 'media/picture.jpg' %}" class="profile-img">
    </div>

    <div class="hero-right">
        <h1>Husayn Muhammadyahyoyev</h1>
        <h3>Backend Developer | Django Developer</h3>

        <div class="socials">
            <a href="https://github.com/MuhammadyahyoH">GitHub</a>
            <a href="https://www.linkedin.com/in/husayn-muhammadyahyoyev-480b963b4/">LinkedIn</a>
            <a href="https://t.me/create_CodingZone">Telegram</a>
            <a href="https://www.youtube.com/">YouTube</a>
            <a href="https://www.facebook.com/">Facebook</a>
            <a href="https://www.instagram.com/">Instagram</a>
        </div>

        <p>
            I am a passionate backend developer focused on Django,
            building scalable and clean web applications.
        </p>

        <div class="buttons">
            <a href="/blog" class="btn-primary">Read Blog</a>
            <a href="/about" class="btn-secondary">About Me</a>
        </div>
    </div>

</div>
{% endblock %}