<!DOCTYPE html>
<html>
<head>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
    <title>Husayn.com</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>

<!-- NAVBAR -->
<div class="navbar">
    <div class="logo">Husayn.com</div>

    <div class="menu">
        <a href="/">Home</a>
        <a href="/dashboard/">Dashboard</a>
        <a href="/projects/">Projects</a>
        <a href="/blog/">Blog</a>
    </div>

    <a class="btn" href="/">Login</a>
</div>


<!-- HERO -->
<div class="hero">

    <h1>Hi, I'm <span>Husayn</span></h1>

    <p>Python Django Developer • Backend Engineer • Portfolio Project</p>

    <div style="margin-top:20px;">
        <a href="/dashboard/" class="primary">Go Dashboard</a>
        <a href="/register/" class="secondary">Create Account</a>
    </div>

</div>

</body>
</html>