{% load static %}
<div class="navbar">
    <a href="{% url 'home' %}" class="logo">Husayn's blog</a>
    <div class="menu">
        <a href="/blog">Blog</a>
        <a href="/projects">Projects</a>
        <a href="{% static 'media/resume1.pdf' %}" download>Resume</a>
        <a href="/contact/">Contact</a>
        {% if user.is_authenticated %}
            <a href="/logout/" class="btn-logout">Logout</a>
        {% endif %}
        <button class="theme-toggle" onclick="toggleTheme()" id="themeBtn" title="Toggle theme">🌙</button>
    </div>
</div>
